table {
  border-collapse: separate;
  border-spacing: 0 8px;
  margin-top: -8px;
}
td {
  border: 1px;
  min-width: 120px;
}
th {
  border: 1px;
  min-width: 120px;
}
tfoot {
  border-collapse: separate;
  border-spacing: 0 8px;
  margin-top: -8px;
}